* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.app-container {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .app-title {
    font-size: 2.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #4A90E2;
    color: #4A90E2;
    margin-bottom: 20px;
  }
